@media screen and (max-width: 850px){
.startsida{
    margin: 0px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
    "hd hd"
    "sc sc"
    "sc sc"
    "sc sc"
    "sc sc"
    "sc sc"
    "sc sc"
    "ar ar"
    "ar ar"
    "ar ar"
    "ar ar"
    "ar ar"
    "ar ar"
    "ft ft"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 100px 100px 100px 100px 100px 100px 600px 600px 600px 600px 600px 600px 200px;
;

}
.menyrad {
    grid-area: hd;
    background-color:none;
    display: grid;
    grid-template-areas: 
    "h1 h2 h3";
    grid-template-columns: repeat(1fr,3);
    
}
.namn{
    grid-area: h1;
    font-size: 40px;
    color: steelblue;
    font-weight: 900;
}
.tomruta{
    grid-area: h2;
}
.menyrutor{
    grid-area: h3;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 6px;
}
.inforutan{
    grid-area: sc;
    background-image: url(/img/bakground1.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-attachment:fixed;
    background-position: right bottom -80px;
    display: flex;
    flex-direction: column;
    overflow-y: top;
}
.kontakta{
    border: 10px;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
    border: lightcyan inset 4px;
    color: lightcyan;
    margin-right: 300px;
}
.citat{
    border: 10px;
    margin-top: 100px;
    padding: 10px;
    font-size: 40px;
    font-family: Georgia;
    font-weight: 500;
    color: lightcyan;;
    margin-right: 100px;
}
.vägledare{
    grid-area: ar;
    display: grid;
    grid-template-areas: 
    "d1"
    "d2"
    "d3"
    "d4"
    "d5"
    "d6";
    grid-template-rows: repeat(1fr,6);
   
}
.vägledarinfo{
    grid-area: d1;
    margin: 8px;
    max-height: 100%;
    max-width: 100%;
    padding-right: none;
    overflow-x: hidden;
    background-color: none;
    font-size: 100px;
    text-align: center;
    font-family: Georgia;
    margin-top: 250px;
    font-weight: 500;
    color: rgb(221, 211, 231);;
}
.texten-my_services{
    color: rgb(221, 211, 231);;
}
.vägledarna1{
    grid-area: d2;
    margin:8px;
    background-color: rgb(221, 211, 231);
    border: lightcyan inset 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.vägledarna2{
    grid-area: d3;
    margin: 8px;
    background-color: rgb(221, 211, 231);
    border: lightcyan inset 4px;
}
.vägledarna3{
    grid-area: d4;
    margin: 8px;
    background-color: rgb(221, 211, 231);
    border: lightcyan inset 4px;
}
.vägledarna4{
    grid-area: d5;
    margin: 8px;
    background-color: rgb(221, 211, 231);
    border: lightcyan inset 4px;
}
.vägledarna5{
    grid-area: d6;
    margin: 8px;
    background-color: rgb(221, 211, 231);
    border: lightcyan inset 4px;
}

.foten{
    grid-area: ft;
    background-image: url(/img/bakground1.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-attachment:fixed;
    background-position: right bottom -80px;
}
}


@media screen and (min-width: 850px){
.startsida{
margin: 0px;
width: 100vw;
max-width: 100%;
overflow-x: hidden;
display: grid;
grid-template-areas: 
"hd hd hd"
"sc sc sc"
"sc sc sc"
"sc sc sc"
"sc sc sc"
"sc sc sc"
"sc sc sc"
"ar ar ar"
"ar ar ar"
"ar ar ar"
"ar ar ar"
"ar ar ar"
"ar ar ar"
"ft ft ft"
;

grid-template-columns: repeat(3, 1fr);
grid-template-rows: 50px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 200px;
;

}
.menyrad {
    grid-area: hd;
    background-color:none;
    display: grid;
    grid-template-areas: 
    "h1 h2 h3";
    grid-template-columns: repeat(1fr,3);
    
}
.namn{
    grid-area: h1;
    font-size: 40px;
    color: steelblue;
    font-weight: 900;
}
.tomruta{
    grid-area: h2;
}
.menyrutor{
    grid-area: h3;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 6px;
}
.inforutan{
    grid-area: sc;
    background-image: url(/img/bakground1.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-attachment:fixed;
    background-position: right bottom -80px;
    display: flex;
    flex-direction: column;
    overflow-y: top;
}
.kontakta{
    border: 10px;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px;
    border: lightcyan inset 4px;
    color: lightcyan;
    margin-right: 1100px;
}
.citat{
    border: 10px;
    margin-top: 150px;
    padding: 10px;
    font-size: 50px;
    font-family: Georgia;
    font-weight: 500;
    color: lightcyan;;
    margin-right: 800px;
}
.vägledare{
    grid-area: ar;
    display: grid;
    gap: 8px;
    grid-template-areas: 
    "d1 d2 d3"
    "d4 d5 d6";
    grid-template-columns: calc(100%/3) calc(100%/3) calc(100%/3);
    grid-template-rows: calc(100%/2) calc(100%/2) ;
   
}
.vägledarinfo{
    grid-area: d1;
    max-height: 100%;
    max-width: 100%;
    padding-right: none;
    overflow-x: hidden;
    background-color: none;
    font-size: 80px;
    font-family: Georgia;
    font-weight: 500;
    color: rgb(221, 211, 231);;
}
.texten-my_services{
    color: rgb(221, 211, 231);;
}
.vägledarna1{
    grid-area: d2;
    background-color: rgb(221, 211, 231);
    border: lightcyan inset 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
.vägledarna2{
    grid-area: d3;

    background-color: rgb(221, 211, 231);
    border: lightcyan inset 4px;
}
.vägledarna3{
    grid-area: d4;

    background-color: rgb(221, 211, 231);
    border: lightcyan inset 4px;
}
.vägledarna4{
    grid-area: d5;
    background-color: rgb(221, 211, 231);
    border: lightcyan inset 4px;
}
.vägledarna5{
    grid-area: d6;

    background-color: rgb(221, 211, 231);
    border: lightcyan inset 4px;
}

.foten{
    grid-area: ft;
    background-image: url(/img/bakground1.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-attachment:fixed;
    background-position: right bottom -80px;
}
.ideerbaraatt_ha_med{
    opacity: 0.6;
}
a:hover {
    color: black;
}
.myservicesida{
    margin: 0px;
width: 100vw;
max-width: 100%;
overflow-x: hidden;
display: grid;
grid-template-areas: 
"hd hd hd"
"a0 a0 a0"
"a1 a1 a1"
"a2 a2 a2"
"a3 a3 a3"
"a4 a4 a4"
"a5 a5 a5"
"ft ft ft"
;

grid-template-columns: repeat(3, 1fr);
grid-template-rows: 50px 400px 400px 400px 400px 400px 400px 200px;
;
}
.myservice{
    grid-area: a0;
    background-image: url(/img/bakground1.jpg);
    background-repeat: no-repeat;
    height: auto;
    background-attachment:fixed;
    background-position: right bottom -80px;
    font-size: 100px;
    text-align: center;
    padding-top: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    color: steelblue;
}
.infoservice1{
    grid-area: a1;
    background-color: rgb(221, 211, 231);
    margin: 0px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
    "w1 w2"
    ;
    grid-template-columns: repeat(2, 1fr);
    ;
}
.infoservice2{
    grid-area: a2;
    background-color: rgb(238, 230, 245);
    margin: 0px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
    "w1 w2"
    ;
    grid-template-columns: repeat(2, 1fr);
    ;
}
.infoservice3{
    grid-area: a3;
    background-color: rgb(221, 211, 231);
    margin: 0px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
    "w1 w2"
    ;
    grid-template-columns: repeat(2, 1fr);
    ;
}
.infoservice4{
    grid-area: a4;
    background-color: rgb(238, 230, 245);
    margin: 0px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
    "w1 w2"
    ;
    grid-template-columns: repeat(2, 1fr);
    ;
}
.infoservice5{
    grid-area: a5;
    background-color: rgb(221, 211, 231);
    margin: 0px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    display: grid;
    grid-template-areas: 
    "w1 w2"
    ;
    grid-template-columns: repeat(2, 1fr);
    ;
}
.whatservice{
    grid-area: w1;
    font-size: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 15px;
    
}
.whatserviceinfo{
    grid-area: w2;
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 0px;
    font-size: 20px;
}
}